<template>
  <v-container>
    <v-row dense>
      <v-col cols="md-8" offset="md-2">
        <v-card
          class="mb-5"
          color="primary"
          dark
          v-for="appointment in appointments"
          :key="appointment.id"
        >
          <v-card-title class="headline">{{appointment.name}}</v-card-title>
          <v-card-subtitle>Date: {{appointment.date}}</v-card-subtitle>
          <v-card-subtitle v-if="appointment.note">Note: {{appointment.note}}</v-card-subtitle>
          <v-card-actions>
            <v-checkbox
              v-model="appointment.isCompleted"
              :label="(appointment.isCompleted ? 'Completed' : 'Active')"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-btn text @click="removeAppointment(appointment.id)">Remove</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <ConfirmationDialogBox :id="id" />
  </v-container>
</template>

<script>
import ConfirmationDialogBox from "../components/ConfirmationDialogBox";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    ConfirmationDialogBox,
  },
  data() {
    return {
      isAppointmentComplete: true,
      openDialogBox: false,
      id: null,
    };
  },
  computed: {
    ...mapState(["appointments", "confirmationDialogBoxIsOpen"]),
  },
  methods: {
    ...mapActions(["updateAppointments", "updateConfirmationDialogBoxIsOpen"]),
    removeAppointment(id) {
      this.id = id;
      this.updateConfirmationDialogBoxIsOpen(true);
    },
  },
};
</script>