<template>
  <v-container>
    <v-app-bar app color="primary" dark>

      <v-spacer></v-spacer>

      <v-btn to="/" text small>
        <span class="mr-5">Appointments</span>
      </v-btn>
      <v-btn to="/make-appointments/info" small text>
        <span class="mr-2">Add</span>
      </v-btn>
    </v-app-bar>
  </v-container>
</template>


<style scoped>
a {
  text-decoration: none;
}
</style>