<template>
  <v-container>
    <v-row justify="center">
      <v-card width="40%">
        <h1 class="text-center">Confirm</h1>
        <p class="px-3">
          <b>Full Name:</b>
          {{latestAppointment.name}}
        </p>
        <p class="px-3">
          <b>Date:</b>
          {{latestAppointment.date}}
        </p>
        <p class="px-3" v-if="latestAppointment.note">
          <b>Note:</b>
          {{latestAppointment.note}}
        </p>
        <v-btn class="ma-2" tile color="indigo" dark to="/make-appointments/info">Back</v-btn>
        <v-btn class="ma-2" tile color="indigo" dark @click="addAppointment()">Create</v-btn>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Confirmation",
  computed: {
    ...mapState(["appointments", "latestAppointment"]),
  },
  methods: {
    ...mapActions(["updateAppointments"]),
    addAppointment() {
      this.updateAppointments([...this.appointments, this.latestAppointment]);
      this.$router.push("/");
    },
  },
};
</script>
