<template>
  <v-row justify="center">
    <v-dialog v-model="confirmationDialogBoxIsOpen" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="removeAppointment(id)">Yes</v-btn>
          <v-btn color="green darken-1" text @click="updateConfirmationDialogBoxIsOpen(false)">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  props: ["id"],
  data() {
    return {
      open: false,
    };
  },
  computed: {
    ...mapState(["appointments", "confirmationDialogBoxIsOpen"]),
  },
  methods: {
    ...mapActions(["updateAppointments", "updateConfirmationDialogBoxIsOpen"]),

    removeAppointment(id) {
      const newAppointments = this.appointments.filter(
        (appointment) => id !== appointment.id
      );

      this.updateAppointments(newAppointments);
      this.updateConfirmationDialogBoxIsOpen(false);
    },
  },
};
</script>