<template>
  <v-container>
    <v-row>
      <v-col cols="6" offset="3">
        <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent width="290px">
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              label="Select Date"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <v-col cols="6" offset="3">
        <v-text-field v-model="fullName" value label="Enter your full name" solo></v-text-field>
      </v-col>
      <v-col cols="6" offset="3">
        <v-textarea v-model="note" solo name="input-7-4" label="Write something..."></v-textarea>
      </v-col>
      <v-col cols="6" offset="3">
        <v-btn class="ma-2" tile color="indigo" dark to="/">Back</v-btn>
        <v-btn class="ma-2" tile color="indigo" dark @click="addAppointment()">Next</v-btn>
      </v-col>
    </v-row>
    <v-snackbar v-model="snackbar">Date and Name fields must be filled in</v-snackbar>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Info",
  data() {
    return {
      date: null,
      menu: false,
      modal: false,
      fullName: null,
      note: null,
      snackbar: false,
    };
  },
  computed: {
    ...mapState(["appointments"]),
  },
  methods: {
    ...mapActions(["updateLatestAppointment"]),
    addAppointment() {
      if (this.fullName && this.date) {
        this.updateLatestAppointment({
          id: Math.random(),
          name: this.fullName,
          date: this.date,
          note: this.note,
          isCompleted: false,
        });
        this.$router.push({ path: "/make-appointments/confirmation" });
      } else {
        this.snackbar = true;
      }
    },
  },
};
</script>